/*进度条开始*/
.waic{
	/*padding: 30px;*/
}
.hengxian{
	width: 100%;
	height: 1.5px;
	background-color: #a0a0a0;
}
.hongxian{
	width: 0;
	height: 1.5px;
	background-color: #684713;
}
.yixiaof{
	color: #fff;
	display: inline-block;
	line-height: 18px;
	font-size: 12px;
	position: relative;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);    top: 12.5px;

}
.dingwei{
	width: 45px;
	position: relative;
	top: -5px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.yifen{
	-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1; /* OLD - Firefox 19- */
	width: 20%; /* For old syntax, otherwise collapses. */
	-webkit-flex: 1; /* Chrome */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flexbox {
	display: box; /* OLD - Android 4.4- */
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.jucol{

}
.dengji{
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	float: left;
}
.dengji img{
	width: 16px;
}
.djwai{
	position: relative;
	top: -8px;
	
}
.jucol{
	color: #fff;
}
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);    
    filter: grayscale(100%);	
    filter: gray;
}
/*进度条结束*/